<div class="alert hide">
	<span class="msg">Warning: This is a test alert!</span>
	<div class="close-btn">
	  <span class="fas fa-times"></span>
	</div>
</div>
<script>
    //const alert = document.querySelector('.alert');
    //const closeAlert = document.querySelector('.close-btn')

    document.querySelector('.close-btn').addEventListener('click', ()=>{
    alerT.classList.remove("show")
    alerT.classList.add("hide")
})

</script>