<!DOCTYPE html>
<html lang="en">
    
<body class="container">
<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Car pooling application</h1>
            <p>Welcome to our application</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Registration!</h3>
        </div>
    </div>

</div>
</main>

</body>
</html>